@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allura&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}
main {
  background-color: black;
  padding-bottom: 3rem;
}

a {
  text-decoration: none;
  color: white;
}
img {
  width: 100%;
  height: 100%;
}

h2 {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 3rem;
  font-weight: 900;
  line-height: 120%;
  letter-spacing: 0%;
}
h4 {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
}

/* shared style  */
.btn-primary {
  border-radius: 46px;
  background: rgb(230, 83, 60);
  padding: 8px 12px;
  color: white;
  font-weight: bold;
}
.description-txt {
  font-size: small;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 1rem;
}

/* header style  */
header {
  background: linear-gradient(
    180deg,
    rgb(17, 17, 17),
    rgba(119, 119, 119, 0) 100%
  );

  border: 1px solid black;
  background-color: rgb(17, 17, 17, 0.4);
}
.bg {
  width: 100%;
  background: linear-gradient(
    360deg,
    rgb(17, 17, 17),
    rgba(119, 119, 119, 0) 100%
  );
}

/* nav styles start  */
nav {
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin: 55px auto;
}

nav .logo {
  color: rgb(230, 83, 60);
  font-style: italic;
  padding-top: 4px;
}

nav .nav-link {
  display: flex;
  gap: 40px;
  border: 1px solid gray;
  border-radius: 39px;
}

nav .nav-link a {
  text-decoration: none;
  color: white;
  border-radius: 39px;
  padding: 8px 12px;
}
nav .nav-link a:first-child {
  background-color: rgb(230, 83, 60);
  border-radius: 39px;
}

/* hero section style start  */
.hero {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.hero .hero-content {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  width: 50%;
}

.hero .hero-content h1 {
  color: white;
  font-size: 4rem;
  margin-bottom: 1rem;
  line-height: 0.9;
}
.hero .hero-content p {
  width: 70%;
}
.hero .hero-content .shape-txt {
  font-family: "Allura", cursive;
  font-weight: 400;
  font-size: 7rem;
}
.hero .hero-content .hero-btns {
  display: flex;
  gap: 10px;
}
.hero .hero-content .hero-btns a:last-child {
  border-radius: 46px;
  padding: 8px 12px;
  border: 1px solid gray;
}

.hero .hero-img {
  width: 40%;
  position: relative;
}

.hero .hero-img .video-tutorial {
  width: 12rem;
  height: 6rem;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(48, 48, 48, 0.54);
  display: flex;
  position: absolute;
  top: 50%;
  color: white;
  align-items: center;
  justify-content: center;
}

.hero .hero-img .video-tutorial .play-logo {
  display: flex;
  background-color: rgb(230, 83, 60);
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.hero .hero-img .video-tutorial .video-tutorial-content {
  margin-top: 10px;
}

.hero .hero-img .free-workout {
  width: 12rem;
  height: 6rem;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(48, 48, 48, 0.54);
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 20%;
  right: 0;
  color: white;
  padding: 20px;
  justify-content: center;
}
/* hero section style end  */

/* change your habit section style start  */
.change-habit {
  width: 80%;
  margin: auto;
  padding-top: 100px;
}
.change-habit .header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 55%;
  margin: auto;
  gap: 10px;
}

.change-habit .cards {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  margin-top: 3rem;
}
.change-habit .cards .card {
  width: 24%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.change-habit .cards .card img {
  width: 100%;
  border-radius: 50%;
  border: 1px solid gray;
  margin-bottom: 1.5rem;
}
/* change your habit section style end  */

/* run an extra mile section start  */
.run-extra-mile {
  width: 80%;
  margin: 70px auto;
  display: flex;
  border-radius: 18px;
  background: rgb(34, 34, 34);
  justify-content: space-between;
}
.run-extra-mile .run-content {
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
}
.run-extra-mile .run-content a {
  width: 50%;
  text-align: center;
}

.run-extra-mile .run-img {
  width: 50%;
  padding: 1.5rem 2rem;
}
.run-extra-mile .run-img img {
  width: 100%;
  border-radius: 18px;
}
/* run an extra mile section end  */

/* food habit as a unique section  start */
.food-habit {
  width: 80%;
  margin: 100px auto;
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  background: rgb(34, 34, 34);
}

.food-habit .img-div {
  width: 80%;
  margin: 20px auto;
}

.food-habit .food-habit-content {
  width: 50%;
  padding: 2rem;
  text-align: center;
}

.food-habit .food-habit-description {
  width: 45%;
  padding: 2rem;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.food-habit .food-habit-description a {
  width: 40%;
  background-color: rgb(34, 34, 34);
  border-radius: 0;
}

/* food habit as a unique section  end  */

/* bmi calculator section start  */
.bmi-calculator-header {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  margin-bottom: 4rem;
  width: 40%;
}

.bmi-calculator {
  width: 100%;
  background: rgb(34, 34, 34);
  margin-bottom: 4rem;
}

.bmi-calculator-container {
  width: 80%;
  margin: auto;
  padding: 3rem 0;
  display: flex;
}
.bmi-calculator-container .calculator-chart {
  width: 50%;
}

.bmi-calculator-container .calculator-chart h3 {
  color: rgb(255, 255, 255);
  font-size: 28px;
  font-weight: 900;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 3rem;
}

table {
  color: rgba(255, 255, 255, 0.5);
  border: 1px solid #444;
  border-collapse: collapse;
  font-size: 14px;
  font-weight: 400;
}
th,
td {
  padding: 10px;
  text-align: left;
  border: 1px solid #444;
}
th {
  background-color: #444;
}

.bmi-calculator-container .calcualate-bmi {
  width: 50%;
}

.bmi-calculator-container .calcualate-bmi h3 {
  color: rgb(255, 255, 255);
  font-size: 28px;
  font-weight: 900;
  line-height: 120%;
  margin-bottom: 10px;
  text-align: left;
}

.form-group {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.form-group input,
.form-group select {
  width: 48%;
  padding: 10px;
  background-color: #333;
  border: 1px solid #444;
  color: #fff;
  border-radius: 5px;
}
.last-child select {
  width: 100%;
  padding: 10px;
  background-color: #333;
  border: 1px solid #444;
  color: #fff;
  border-radius: 5px;
  margin: auto;
}
.calcualate-bmi .btn a {
  width: 40%;
  text-align: center;
  margin-top: 15px;
}
/* bmi calculator section end  */

/* meet our team section start  */
.meet-team-header {
  width: 40%;
  margin: auto;
  text-align: center;
  margin-bottom: 3rem;
  
}

.meet-images {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 18px;
  
}

.meet-images .card {
  position: relative;
}
.meet-images .card img {
  border-radius: 18px;
  height: 272px;
}

.meet-images .card .img-desc {
  position: absolute;
  top: 80%;
  left: 10%;
}
/* meet our team section start  */

/* footer section start  */
footer{
  background: rgb(34, 34, 34);
  width: 100%;
  /* margin-bottom: 200px; */
  border: 1px solid rgb(34, 34, 34);
  
}

footer .footer-content{
  width: 80%;
  margin: 5rem auto;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
}

footer .footer-content .heading{
  width: 85%;
}

footer .footer-content h1{
  color: rgb(230, 83, 60);
  font-style: italic;
  padding-top: 4px;
  font-size: 4.5rem;
  margin-bottom: 10px;
}

footer .footer-content .get-started{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: auto;
}
footer .footer-content .get-started h3{
  color: white;
  margin-bottom: 10px;
}

footer .footer-content .get-started a{
  color: rgba(255, 255, 255, 0.5);
}
footer hr{
  
  width: 80%;
  margin: auto;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

footer .copyright-txt{
  margin: 10px auto;
  text-align: center;
}

/* footer section end  */
